### Import Libraries

In [2]:
import pandas as pd
import numpy as np

### Read CSV

In [3]:
train = pd.read_csv('./assets/train.csv')
weather = pd.read_csv('./assets/weather.csv')
spray = pd.read_csv('./assets/spray.csv')

##### Check Data Types and Columns name

**from weather descr document**
- `M`: Missing Data, or data that are not normally reported for the station
- `-`: values not available for sunrise/sunset.
    - because each date has two reported data from station 1 and 2. Therefore, station 2 column of the date has no sunrise/sunset data.

In [4]:
print("Train set data types:\n")
print(train.dtypes)
print("-----")
print("Weather set data types:\n")
print(weather.dtypes)
print("-----")
print("Spray set data types:\n")
print(spray.dtypes)

Train set data types:

Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos                int64
WnvPresent                  int64
dtype: object
-----
Weather set data types:

Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object
-----
Spray set data types:

Date          object
Time          object
Latitude     float64
Longitude    float64
dtype: object

In [5]:
train.WnvPresent.value_counts()

0    9955
1     551
Name: WnvPresent, dtype: int64

In [6]:
# weird. How 7:44:32 pm has 541 values? are they using auto-spray function?

spray.Time.value_counts()

7:44:32 PM     541
8:59:06 PM       5
9:35:47 PM       5
8:58:26 PM       5
9:05:56 PM       5
8:57:46 PM       5
9:38:27 PM       5
8:57:56 PM       5
8:55:36 PM       5
9:40:27 PM       5
8:55:46 PM       5
9:31:27 PM       5
9:37:27 PM       5
8:55:26 PM       5
8:58:56 PM       5
9:30:17 PM       4
8:42:55 PM       4
8:29:01 PM       4
9:27:15 PM       4
8:59:05 PM       4
8:37:36 PM       4
9:28:47 PM       4
9:59:05 PM       4
8:22:11 PM       4
9:01:36 PM       4
8:59:15 PM       4
9:00:35 PM       4
9:10:56 PM       4
9:42:45 PM       4
9:07:26 PM       4
              ...
8:49:12 PM       1
8:57:33 PM       1
12:16:49 AM      1
7:41:56 PM       1
10:33:45 PM      1
7:39:51 PM       1
10:09:36 PM      1
7:36:16 PM       1
10:25:26 PM      1
9:10:42 PM       1
8:18:21 PM       1
9:44:38 PM       1
8:40:55 PM       1
10:03:11 PM      1
10:47:15 PM      1
8:07:33 PM       1
10:10:37 PM      1
9:27:07 PM       1
8:59:19 PM       1
11:01:40 PM      1
7:46:05 PM       1
9:02:02 PM       1
8:22:59 PM       1
7:55:43 PM       1
11:14:01 PM      1
10:25:00 PM      1
7:40:33 PM       1
11:56:08 PM      1
9:58:29 PM       1
9:36:26 PM       1
Name: Time, Length: 8583, dtype: int64

In [7]:
# it seems the duplicated data.
spray[spray.Time == "7:44:32 PM"]

            Date        Time  Latitude  Longitude
489   2011-09-07  7:44:32 PM  41.98646 -87.794225
490   2011-09-07  7:44:32 PM  41.98646 -87.794225
491   2011-09-07  7:44:32 PM  41.98646 -87.794225
492   2011-09-07  7:44:32 PM  41.98646 -87.794225
493   2011-09-07  7:44:32 PM  41.98646 -87.794225
494   2011-09-07  7:44:32 PM  41.98646 -87.794225
495   2011-09-07  7:44:32 PM  41.98646 -87.794225
496   2011-09-07  7:44:32 PM  41.98646 -87.794225
497   2011-09-07  7:44:32 PM  41.98646 -87.794225
498   2011-09-07  7:44:32 PM  41.98646 -87.794225
499   2011-09-07  7:44:32 PM  41.98646 -87.794225
500   2011-09-07  7:44:32 PM  41.98646 -87.794225
501   2011-09-07  7:44:32 PM  41.98646 -87.794225
502   2011-09-07  7:44:32 PM  41.98646 -87.794225
503   2011-09-07  7:44:32 PM  41.98646 -87.794225
504   2011-09-07  7:44:32 PM  41.98646 -87.794225
505   2011-09-07  7:44:32 PM  41.98646 -87.794225
506   2011-09-07  7:44:32 PM  41.98646 -87.794225
507   2011-09-07  7:44:32 PM  41.98646 -87.794225
508   2011-09-07  7:44:32 PM  41.98646 -87.794225
509   2011-09-07  7:44:32 PM  41.98646 -87.794225
510   2011-09-07  7:44:32 PM  41.98646 -87.794225
511   2011-09-07  7:44:32 PM  41.98646 -87.794225
512   2011-09-07  7:44:32 PM  41.98646 -87.794225
513   2011-09-07  7:44:32 PM  41.98646 -87.794225
514   2011-09-07  7:44:32 PM  41.98646 -87.794225
515   2011-09-07  7:44:32 PM  41.98646 -87.794225
516   2011-09-07  7:44:32 PM  41.98646 -87.794225
517   2011-09-07  7:44:32 PM  41.98646 -87.794225
518   2011-09-07  7:44:32 PM  41.98646 -87.794225
...          ...         ...       ...        ...
1000  2011-09-07  7:44:32 PM  41.98646 -87.794225
1001  2011-09-07  7:44:32 PM  41.98646 -87.794225
1002  2011-09-07  7:44:32 PM  41.98646 -87.794225
1003  2011-09-07  7:44:32 PM  41.98646 -87.794225
1004  2011-09-07  7:44:32 PM  41.98646 -87.794225
1005  2011-09-07  7:44:32 PM  41.98646 -87.794225
1006  2011-09-07  7:44:32 PM  41.98646 -87.794225
1007  2011-09-07  7:44:32 PM  41.98646 -87.794225
1008  2011-09-07  7:44:32 PM  41.98646 -87.794225
1009  2011-09-07  7:44:32 PM  41.98646 -87.794225
1010  2011-09-07  7:44:32 PM  41.98646 -87.794225
1011  2011-09-07  7:44:32 PM  41.98646 -87.794225
1012  2011-09-07  7:44:32 PM  41.98646 -87.794225
1013  2011-09-07  7:44:32 PM  41.98646 -87.794225
1014  2011-09-07  7:44:32 PM  41.98646 -87.794225
1015  2011-09-07  7:44:32 PM  41.98646 -87.794225
1016  2011-09-07  7:44:32 PM  41.98646 -87.794225
1017  2011-09-07  7:44:32 PM  41.98646 -87.794225
1018  2011-09-07  7:44:32 PM  41.98646 -87.794225
1019  2011-09-07  7:44:32 PM  41.98646 -87.794225
1020  2011-09-07  7:44:32 PM  41.98646 -87.794225
1021  2011-09-07  7:44:32 PM  41.98646 -87.794225
1022  2011-09-07  7:44:32 PM  41.98646 -87.794225
1023  2011-09-07  7:44:32 PM  41.98646 -87.794225
1024  2011-09-07  7:44:32 PM  41.98646 -87.794225
1025  2011-09-07  7:44:32 PM  41.98646 -87.794225
1026  2011-09-07  7:44:32 PM  41.98646 -87.794225
1027  2011-09-07  7:44:32 PM  41.98646 -87.794225
1028  2011-09-07  7:44:32 PM  41.98646 -87.794225
1029  2011-09-07  7:44:32 PM  41.98646 -87.794225

[541 rows x 4 columns]

In [8]:
spray[spray.Longitude == -87.794225]['Time'].value_counts()

7:44:32 PM    541
Name: Time, dtype: int64

##### Check numerical columns data, find abnormalty or outliers

In [9]:
print(train.isnull().sum().sum())
print(weather.isnull().sum().sum())
print(spray.isnull().sum().sum())

0
0
584

In [10]:
spray[spray['Time'].isnull()]

            Date Time   Latitude  Longitude
1030  2011-09-07  NaN  41.987092 -87.794286
1031  2011-09-07  NaN  41.987620 -87.794382
1032  2011-09-07  NaN  41.988004 -87.794574
1033  2011-09-07  NaN  41.988292 -87.795486
1034  2011-09-07  NaN  41.988100 -87.796014
1035  2011-09-07  NaN  41.986372 -87.794862
1036  2011-09-07  NaN  41.986228 -87.795582
1037  2011-09-07  NaN  41.984836 -87.793998
1038  2011-09-07  NaN  41.984836 -87.794670
1039  2011-09-07  NaN  41.984884 -87.795198
1040  2011-09-07  NaN  41.982820 -87.793182
1041  2011-09-07  NaN  41.982772 -87.793950
1042  2011-09-07  NaN  41.982772 -87.795006
1043  2011-09-07  NaN  41.983444 -87.795246
1044  2011-09-07  NaN  41.984068 -87.795438
1045  2011-09-07  NaN  41.984596 -87.795534
1046  2011-09-07  NaN  41.984980 -87.795630
1047  2011-09-07  NaN  41.986708 -87.796110
1048  2011-09-07  NaN  41.987524 -87.796302
1049  2011-09-07  NaN  41.988820 -87.796638
1050  2011-09-07  NaN  41.989444 -87.796830
1051  2011-09-07  NaN  41.990068 -87.796974
1052  2011-09-07  NaN  41.988244 -87.797022
1053  2011-09-07  NaN  41.988196 -87.797742
1054  2011-09-07  NaN  41.988196 -87.798366
1055  2011-09-07  NaN  41.988196 -87.798942
1056  2011-09-07  NaN  41.988196 -87.799422
1057  2011-09-07  NaN  41.986372 -87.796494
1058  2011-09-07  NaN  41.986372 -87.797310
1059  2011-09-07  NaN  41.986372 -87.798030
...          ...  ...        ...        ...
1584  2011-09-07  NaN  41.992372 -87.816367
1585  2011-09-07  NaN  41.992468 -87.815839
1586  2011-09-07  NaN  41.992516 -87.815311
1587  2011-09-07  NaN  41.992564 -87.814735
1588  2011-09-07  NaN  41.992612 -87.814303
1589  2011-09-07  NaN  41.992612 -87.813775
1590  2011-09-07  NaN  41.992612 -87.813343
1591  2011-09-07  NaN  41.992660 -87.812767
1592  2011-09-07  NaN  41.992660 -87.812191
1593  2011-09-07  NaN  41.992612 -87.811663
1594  2011-09-07  NaN  41.992660 -87.811279
1595  2011-09-07  NaN  41.992660 -87.810847
1596  2011-09-07  NaN  41.992612 -87.810415
1597  2011-09-07  NaN  41.992660 -87.809455
1598  2011-09-07  NaN  41.992660 -87.809983
1599  2011-09-07  NaN  41.992708 -87.808927
1600  2011-09-07  NaN  41.992708 -87.808399
1601  2011-09-07  NaN  41.992756 -87.807775
1602  2011-09-07  NaN  41.992756 -87.807199
1603  2011-09-07  NaN  41.996164 -87.813727
1604  2011-09-07  NaN  41.995732 -87.813679
1605  2011-09-07  NaN  41.994916 -87.813727
1606  2011-09-07  NaN  41.992948 -87.813775
1607  2011-09-07  NaN  41.996644 -87.811567
1608  2011-09-07  NaN  41.996260 -87.811567
1609  2011-09-07  NaN  41.995876 -87.811615
1610  2011-09-07  NaN  41.995972 -87.810271
1611  2011-09-07  NaN  41.995684 -87.810319
1612  2011-09-07  NaN  41.994724 -87.810415
1613  2011-09-07  NaN  41.993092 -87.810415

[584 rows x 4 columns]

In [11]:
train.describe()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
count,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000
mean,35.687797,41.841139,-87.699908,7.819532,12.853512,0.052446
std,24.339468,0.112742,0.096514,1.452921,16.133816,0.222936
min,10.000000,41.644612,-87.930995,3.000000,1.000000,0.000000
25%,12.000000,41.732984,-87.760070,8.000000,2.000000,0.000000
50%,33.000000,41.846283,-87.694991,8.000000,5.000000,0.000000
75%,52.000000,41.954690,-87.627796,9.000000,17.000000,0.000000
max,98.000000,42.017430,-87.531635,9.000000,50.000000,1.000000

In [12]:
spray.describe()

           Latitude     Longitude
count  14835.000000  14835.000000
mean      41.904828    -87.736690
std        0.104381      0.067292
min       41.713925    -88.096468
25%       41.785001    -87.794225
50%       41.940075    -87.727853
75%       41.980978    -87.694108
max       42.395983    -87.586727

In [13]:
weather.describe()

,Station,Tmax,Tmin,DewPoint,ResultSpeed,ResultDir
count,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000
mean,1.500000,76.166101,57.810462,53.457880,6.960666,17.494905
std,0.500085,11.461970,10.381939,10.675181,3.587527,10.063609
min,1.000000,41.000000,29.000000,22.000000,0.100000,1.000000
25%,1.000000,69.000000,50.000000,46.000000,4.300000,7.000000
50%,1.500000,78.000000,59.000000,54.000000,6.400000,19.000000
75%,2.000000,85.000000,66.000000,62.000000,9.200000,25.000000
max,2.000000,104.000000,83.000000,75.000000,24.100000,36.000000

In [14]:
# courtesy of Brian Collins

def date_separate(df):
    df = df.copy()
    df['Year'] = pd.DatetimeIndex(df['Date']).year
    df['Month'] = pd.DatetimeIndex(df['Date']).month
    df['Day'] = pd.DatetimeIndex(df['Date']).day
    return df

# make all the dataset applied to the function
train=date_separate(train)
weather=date_separate(weather)
spray=date_separate(spray)

##### Found some suspicious data
- 11 missing values in `weather['Tavg']` (should've `int`)
-

In [15]:
#weather[weather['Depart'] == 'M'] # 1472 sets
weather['Depart'].value_counts()

M      1472
 2       93
-1       84
-2       80
 5       77
 7       76
 1       76
 3       75
 0       74
-3       72
 4       71
 6       67
 8       59
-5       57
-4       56
-6       50
 9       47
10       46
-8       43
-7       30
11       28
12       28
-9       25
13       23
14       22
-10      22
15       15
16       12
-11      10
-12       8
17        7
18        6
-14       6
-13       5
20        4
19        4
-15       3
-16       3
22        3
21        2
-17       2
23        1
Name: Depart, dtype: int64

In [21]:
weather[weather['Tavg'] == 'M']

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Year,Month,Day
7,2,2007-05-04,78,51,M,M,42,50,M,M,...,M,0.00,29.36,30.04,10.1,7,10.4,2007,5,4
505,2,2008-07-08,86,46,M,M,68,71,M,M,...,M,0.28,29.16,29.80,7.4,24,8.3,2008,7,8
675,2,2008-10-01,62,46,M,M,41,47,M,M,...,M,0.00,29.30,29.96,10.9,33,11.0,2008,10,1
1637,2,2011-07-22,100,71,M,M,70,74,M,M,...,M,0.14,29.23,29.86,3.8,10,8.2,2011,7,22
2067,2,2012-08-22,84,72,M,M,51,61,M,M,...,M,0.00,29.39,M,4.7,19,M,2012,8,22
2211,2,2013-05-02,71,42,M,M,39,45,M,M,...,M,0.00,29.51,30.17,15.8,2,16.1,2013,5,2
2501,2,2013-09-24,91,52,M,M,48,54,M,M,...,M,0.00,29.33,30.00,5.8,9,7.7,2013,9,24
2511,2,2013-09-29,84,53,M,M,48,54,M,M,...,M,0.22,29.36,30.01,6.3,36,7.8,2013,9,29
2525,2,2013-10-06,76,48,M,M,44,50,M,M,...,M,0.06,29.10,29.76,10.1,25,10.6,2013,10,6
2579,2,2014-05-02,80,47,M,M,43,47,M,M,...,M,0.04,29.10,29.79,10.7,23,11.9,2014,5,2
2811,2,2014-08-26,86,49,M,M,68,71,M,M,...,M,T,29.41,30.04,1.3,15,5.8,2014,8,26

In [17]:
train['Species'].value_counts()

CULEX PIPIENS/RESTUANS    4752
CULEX RESTUANS            2740
CULEX PIPIENS             2699
CULEX TERRITANS            222
CULEX SALINARIUS            86
CULEX TARSALIS               6
CULEX ERRATICUS              1
Name: Species, dtype: int64

In [36]:
train['Trap'].value_counts()

T900     750
T115     542
T138     314
T002     185
T135     183
T054     163
T128     160
T151     156
T212     152
T090     151
T114     148
T158     147
T031     146
T048     146
T903     140
T008     139
T011     133
T209     130
T200     129
T073     128
T030     126
T003     122
T094     121
T028     117
T066     116
T074     115
T047     114
T102     112
T221     112
T159     111
        ...
T141      22
T206      21
T154      21
T162      21
T219      21
T156      21
T075      20
T070      20
T071      19
T142      18
T097      17
T034      17
T050      17
T060      15
T001      15
T051      15
T044      15
T157      14
T005      14
T149      14
T072      13
T004      12
T054C      9
T078       8
T229       8
T238       7
T076       5
T094B      5
T237       3
T040       2
Name: Trap, Length: 136, dtype: int64

In [38]:
train.groupby('Species')['Trap'].value_counts()

Species          Trap
CULEX ERRATICUS  T900      1
CULEX PIPIENS    T115    337
                 T138    179
                 T900    131
                 T128     65
                 T135     49
                 T002     41
                 T200     36
                 T073     35
                 T212     34
                 T209     33
                 T031     32
                 T090     32
                 T103     31
                 T114     31
                 T903     31
                 T048     30
                 T151     30
                 T158     30
                 T086     29
                 T008     28
                 T011     28
                 T102     28
                 T221     27
                 T003     26
                 T030     26
                 T063     26
                 T061     25
                 T065     25
                 T094     25
                        ...
CULEX TERRITANS  T033      1
                 T034      1
                 T037      1
                 T039      1
                 T046      1
                 T047      1
                 T048      1
                 T049      1
                 T062      1
                 T067      1
                 T069      1
                 T072      1
                 T074      1
                 T075      1
                 T076      1
                 T080      1
                 T085      1
                 T089      1
                 T091      1
                 T096      1
                 T141      1
                 T148      1
                 T149      1
                 T151      1
                 T158      1
                 T206      1
                 T221      1
                 T222      1
                 T226      1
                 T238      1
Name: Trap, Length: 535, dtype: int64

In [40]:
weather['WetBulb'].value_counts()

63    135
65    131
59    129
61    123
64    121
62    118
67    117
66    113
60    111
69    107
57    105
70    102
55     99
71     99
68     98
58     95
56     95
52     78
46     72
72     71
53     69
47     61
51     57
54     56
73     56
50     55
45     53
48     51
49     50
74     50
44     45
42     35
40     31
43     31
75     20
41     19
38     17
39     15
36      9
76      8
35      8
77      8
37      5
33      5
34      5
M       4
32      1
78      1
Name: WetBulb, dtype: int64

In [42]:
weather['Heat'].value_counts()

0     1870
4       88
1       86
2       81
8       67
3       66
5       61
15      57
12      49
7       49
10      48
11      48
13      46
9       46
6       45
14      36
16      29
20      28
18      24
19      24
21      19
17      17
23      15
22      12
M       11
24       7
25       5
26       4
27       2
29       2
28       2
Name: Heat, dtype: int64

In [43]:
weather['Cool'].value_counts()

 0    1147
 8     138
12     117
 5     117
10     110
 6     109
 9     107
 7     104
 4     103
13     102
11     100
 3      99
14      98
 1      93
 2      89
15      84
16      55
17      48
18      34
19      21
21      16
20      16
M       11
22       9
24       4
26       4
23       4
25       2
28       1
27       1
29       1
Name: Cool, dtype: int64

In [44]:
# can we break it by Regex?

weather['CodeSum'].value_counts()

                        1609
RA                       296
RA BR                    238
BR                       110
TSRA RA BR                92
BR HZ                     81
RA DZ BR                  65
TSRA RA                   43
HZ                        39
RA BR HZ                  38
TSRA                      34
RA DZ                     22
TSRA BR                   21
TS TSRA RA BR             19
RA HZ                     16
TS RA                     13
TSRA RA BR HZ             12
DZ BR                     10
TS TSRA BR                10
TS                        10
DZ BR HZ                   9
DZ                         8
TS RA BR                   8
TSRA BR HZ                 8
TS TSRA                    7
TS TSRA BR HZ              7
TS TSRA RA                 7
RA DZ BR HZ                7
TSRA HZ                    4
TSRA RA BR VCTS            4
                        ...
RA BCFG BR                 1
TSRA BR HZ FU              1
FG+ BCFG BR                1
BR VCTS                    1
HZ VCTS                    1
TSRA RA FG+ FG BR HZ       1
RA DZ SN                   1
TSRA FG+ BR                1
TS TSRA GR RA BR           1
TS HZ                      1
RA DZ FG+ BCFG BR          1
RA BR HZ VCTS              1
RA BR HZ VCFG              1
TSRA DZ BR HZ              1
HZ FU                      1
TSRA FG+ BR HZ             1
TS TSRA HZ                 1
RA FG BR                   1
TSRA BR HZ VCTS            1
TSRA RA BR HZ VCTS         1
TSRA BR SQ                 1
BCFG BR                    1
MIFG BCFG BR               1
TS TSRA RA VCTS            1
TS TSRA RA HZ              1
FG+ MIFG BR                1
FG+ FG BR                  1
TS TSRA RA FG BR HZ        1
TSRA RA FG+ BR             1
RA FG+ MIFG BR             1
Name: CodeSum, Length: 98, dtype: int64

In [45]:
weather['Depth'].value_counts()

0    1472
M    1472
Name: Depth, dtype: int64

In [46]:
# Since all the data is missing. we can omit!
weather['Water1'].value_counts()

M    2944
Name: Water1, dtype: int64

In [47]:
# It also seems irrelavant. no meaningful values
weather['SnowFall'].value_counts()

M      1472
0.0    1459
  T      12
0.1       1
Name: SnowFall, dtype: int64

In [64]:
# 318 values are just trace rainfall

weather.PrecipTotal=weather.PrecipTotal.str.strip()
weather[weather.PrecipTotal == 'T']

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Year,Month,Day
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,0.0,T,29.31,30.05,10.4,8,10.8,2007,5,4
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,0.0,T,29.40,30.10,11.7,7,12.0,2007,5,5
9,2,2007-05-05,66,54,60,M,39,50,5,0,...,M,T,29.46,30.09,11.2,7,11.5,2007,5,5
12,1,2007-05-07,83,47,65,10,41,54,0,0,...,0.0,T,29.38,30.12,8.6,18,10.5,2007,5,7
15,2,2007-05-08,80,60,70,M,57,63,0,5,...,M,T,29.36,30.02,2.5,8,5.4,2007,5,8
47,2,2007-05-24,88,66,77,M,53,63,0,12,...,M,T,29.47,30.10,13.8,20,15.2,2007,5,24
48,1,2007-05-25,70,56,63,1,44,53,2,0,...,0.0,T,29.51,30.24,4.9,5,8.8,2007,5,25
54,1,2007-05-28,79,50,65,2,47,56,0,0,...,0.0,T,29.43,30.15,4.8,10,5.3,2007,5,28
65,2,2007-06-02,81,68,75,M,62,67,0,10,...,M,T,29.10,29.76,7.5,21,8.2,2007,6,2
73,2,2007-06-06,73,48,61,M,47,55,4,0,...,M,T,29.13,29.82,9.6,15,10.6,2007,6,6
92,1,2007-06-16,93,66,80,11,60,67,0,15,...,0.0,T,29.26,29.97,4.8,28,5.8,2007,6,16
93,2,2007-06-16,92,68,80,M,61,68,0,15,...,M,T,29.33,29.96,2.1,22,6.1,2007,6,16
103,2,2007-06-21,80,66,73,M,51,61,0,8,...,M,T,29.41,30.06,3.7,2,9.6,2007,6,21
104,1,2007-06-22,76,61,69,-1,50,58,0,4,...,0.0,T,29.33,30.06,7.8,6,8.7,2007,6,22
105,2,2007-06-22,75,62,69,M,49,58,0,4,...,M,T,29.39,30.05,6.5,7,8.1,2007,6,22
113,2,2007-06-26,91,73,82,M,69,72,0,17,...,M,T,29.45,30.09,7.3,21,8.1,2007,6,26
169,2,2007-07-24,82,65,74,M,57,64,0,9,...,M,T,29.38,30.03,1.1,21,4.9,2007,7,24
170,1,2007-07-25,85,71,78,4,61,67,0,13,...,0.0,T,29.29,30.00,5.8,25,6.6,2007,7,25
224,1,2007-08-21,87,69,78,7,70,72,0,13,...,0.0,T,29.21,29.91,3.8,18,6.0,2007,8,21
240,1,2007-08-29,85,68,77,7,65,69,0,12,...,0.0,T,29.34,30.04,5.6,3,8.2,2007,8,29
241,2,2007-08-29,86,69,78,M,64,69,0,13,...,M,T,29.39,30.02,5.3,3,8.8,2007,8,29
254,1,2007-09-05,90,66,78,11,63,69,0,13,...,0.0,T,29.24,29.96,6.4,19,6.5,2007,9,5
266,1,2007-09-11,71,50,61,-4,44,52,4,0,...,0.0,T,29.20,29.92,11.7,29,13.5,2007,9,11
267,2,2007-09-11,71,51,61,M,44,52,4,0,...,M,T,29.26,29.91,12.1,29,13.7,2007,9,11
298,1,2007-09-27,75,49,62,2,49,55,3,0,...,0.0,T,29.26,29.97,4.9,24,6.5,2007,9,27
299,2,2007-09-27,74,52,63,M,49,55,2,0,...,M,T,29.31,29.97,4.5,25,5.8,2007,9,27
311,2,2007-10-03,74,56,65,M,47,56,0,0,...,M,T,29.34,29.97,4.8,25,7.1,2007,10,3
324,1,2007-10-10,54,47,51,-4,38,44,14,0,...,0.0,T,29.21,29.93,15.1,31,15.5,2007,10,10
325,2,2007-10-10,53,47,50,M,37,44,15,0,...,M,T,29.26,29.93,14.4,31,14.6,2007,10,10
343,2,2007-10-19,61,53,57,M,48,52,8,0,...,M,T,28.82,29.45,17.7,24,18.0,2007,10,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2670,1,2014-06-17,91,77,84,15,64,70,0,19,...,0.0,T,29.15,29.86,9.1,22,12.6,2014,6,17
2686,1,2014-06-25,80,59,70,-1,58,61,0,5,...,0.0,T,29.28,29.98,6.8,4,7.3,2014,6,25
2690,1,2014-06-27,88,59,74,3,62,67,0,9,...,0.0,T,29.28,30.00,7.9,16,9.8,2014,6,27
2698,1,2014-07-01,80,67,74,2,60,65,0,9,...,0.0,T,29.02,29.72,12.3,24,12.4,2014,7,1
2706,1,2014-07-05,77,60,69,-3,54,60,0,4,...,0.0,T,29.41,30.16,8.0,21,8.3,2014,7,5
2719,2,2014-07-11,83,63,73,M,54,63,0,8,...,M,T,29.48,30.13,5.5,17,6.5,2014,7,11
2746,1,2014-07-25,75,55,65,-9,54,60,0,0,...,0.0,T,29.24,29.98,8.4,21,9.1,2014,7,25
2747,2,2014-07-25,77,60,69,M,57,62,0,4,...,M,T,29.31,29.97,8.7,21,9.2,2014,7,25
2768,1,2014-08-05,80,64,72,-1,62,65,0,7,...,0.0,T,29.31,30.03,4.8,3,6.3,2014,8,5
2792,1,2014-08-17,71,64,68,-4,61,63,0,3,...,0.0,T,29.23,29.96,7.9,3,8.5,2014,8,17
2811,2,2014-08-26,86,49,M,M,68,71,M,M,...,M,T,29.41,30.04,1.3,15,5.8,2014,8,26
2814,1,2014-08-28,77,67,72,2,57,63,0,7,...,0.0,T,29.35,30.08,7.6,8,8.6,2014,8,28
2819,2,2014-08-30,86,74,80,M,69,72,0,15,...,M,T,29.21,29.83,11.4,22,12.4,2014,8,30
2823,2,2014-09-01,85,74,80,M,69,72,0,15,...,M,T,29.13,29.76,12.7,22,13.2,2014,9,1
2850,1,2014-09-15,62,51,57,-7,48,52,8,0,...,0.0,T,29.41,30.14,2.2,30,4.9,2014,9,15
2851,2,2014-09-15,62,54,58,M,50,54,7,0,...,M,T,29.46,30.13,2.9,29,6.4,2014,9,15
2862,1,2014-09-21,69,51,60,-2,50,55,5,0,...,0.0,T,29.26,29.94,10.5,31,12.7,2014,9,21
2863,2,2014-09-21,70,52,61,M,51,56,4,0,...,M,T,29.31,29.93,9.4,31,12.9,2014,9,21
2879,2,2014-09-29,84,57,71,M,57,61,0,6,...,M,T,29.33,29.99,4.5,34,9.0,2014,9,29
2880,1,2014-09-30,58,47,53,-6,47,50,12,0,...,0.0,T,29.29,30.03,8.8,2,9.7,2014,9,30
2881,2,2014-09-30,61,51,56,M,49,52,9,0,...,M,T,29.36,30.02,9.1,2,10.7,2014,9,30
2883,2,2014-10-01,73,52,63,M,51,57,2,0,...,M,T,29.28,29.95,8.0,13,8.6,2014,10,1
2891,2,2014-10-05,56,42,49,M,36,44,16,0,...,M,T,29.02,29.70,10.1,23,10.7,2014,10,5
2894,1,2014-10-07,66,48,57,1,43,50,8,0,...,0.0,T,29.00,29.69,9.8,25,11.5,2014,10,7
2912,1,2014-10-16,56,50,53,1,49,51,12,0,...,0.0,T,29.02,29.77,4.1,24,7.4,2014,10,16
2913,2,2014-10-16,58,53,56,M,52,53,9,0,...,M,T,29.09,29.77,5.4,25,8.4,2014,10,16
2914,1,2014-10-17,62,48,55,3,46,50,10,0,...,0.0,T,28.99,29.69,11.1,29,13.2,2014,10,17
2927,2,2014-10-23,62,41,52,M,41,47,13,0,...,M,T,29.46,30.16,7.9,19,8.4,2014,10,23
2936,1,2014-10-28,68,45,57,10,38,47,8,0,...,0.0,T,29.15,29.85,14.8,26,15.6,2014,10,28
2941,2,2014-10-30,53,37,45,M,35,42,20,0,...,M,T,29.41,30.10,5.9,23,6.5,2014,10,30

In [66]:
# 0.00 rainfall - 1,577 values
weather[weather.PrecipTotal == '0.00']

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Year,Month,Day
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,0.0,0.00,29.10,29.82,1.7,27,9.2,2007,5,1
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,M,0.00,29.18,29.82,2.7,25,9.6,2007,5,1
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,0.0,0.00,29.38,30.09,13.0,4,13.4,2007,5,2
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,M,0.00,29.44,30.08,13.3,2,13.4,2007,5,2
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,0.0,0.00,29.39,30.12,11.7,7,11.9,2007,5,3
5,2,2007-05-03,67,48,58,M,40,50,7,0,...,M,0.00,29.46,30.12,12.9,6,13.2,2007,5,3
7,2,2007-05-04,78,51,M,M,42,50,M,M,...,M,0.00,29.36,30.04,10.1,7,10.4,2007,5,4
10,1,2007-05-06,68,49,59,4,30,46,6,0,...,0.0,0.00,29.57,30.29,14.4,11,15.0,2007,5,6
11,2,2007-05-06,68,52,60,M,30,46,5,0,...,M,0.00,29.62,30.28,13.8,10,14.5,2007,5,6
13,2,2007-05-07,84,50,67,M,39,53,0,2,...,M,0.00,29.44,30.12,8.5,17,9.9,2007,5,7
14,1,2007-05-08,82,54,68,12,58,62,0,3,...,0.0,0.00,29.29,30.03,2.7,11,5.8,2007,5,8
18,1,2007-05-10,84,56,70,14,52,60,0,5,...,0.0,0.00,29.20,29.92,0.7,17,4.1,2007,5,10
19,2,2007-05-10,83,59,71,M,52,61,0,6,...,M,0.00,29.26,29.91,2.0,9,3.9,2007,5,10
20,1,2007-05-11,70,51,61,4,42,51,4,0,...,0.0,0.00,29.33,30.04,11.3,3,12.9,2007,5,11
21,2,2007-05-11,73,49,61,M,44,51,4,0,...,M,0.00,29.39,30.03,11.7,36,12.8,2007,5,11
22,1,2007-05-12,64,46,55,-2,36,46,10,0,...,0.0,0.00,29.49,30.20,12.4,3,12.9,2007,5,12
23,2,2007-05-12,65,47,56,M,37,46,9,0,...,M,0.00,29.54,30.19,12.7,1,13.0,2007,5,12
24,1,2007-05-13,69,43,56,-2,33,46,9,0,...,0.0,0.00,29.49,30.24,6.6,14,8.1,2007,5,13
25,2,2007-05-13,69,44,57,M,32,46,8,0,...,M,0.00,29.55,30.24,6.4,11,7.6,2007,5,13
26,1,2007-05-14,90,56,73,15,47,59,0,8,...,0.0,0.00,29.23,29.97,16.9,21,17.3,2007,5,14
27,2,2007-05-14,90,54,72,M,45,58,0,7,...,M,0.00,29.31,29.98,14.1,21,14.6,2007,5,14
32,1,2007-05-17,62,43,53,-6,32,43,12,0,...,0.0,0.00,29.55,30.27,10.5,3,11.3,2007,5,17
33,2,2007-05-17,61,44,53,M,32,43,12,0,...,M,0.00,29.62,30.27,11.7,1,12.2,2007,5,17
34,1,2007-05-18,71,42,57,-3,30,46,8,0,...,0.0,0.00,29.53,30.25,5.4,25,7.5,2007,5,18
35,2,2007-05-18,70,43,57,M,31,47,8,0,...,M,0.00,29.60,30.26,3.4,22,5.5,2007,5,18
36,1,2007-05-19,80,56,68,8,39,53,0,3,...,0.0,0.00,29.34,30.08,11.1,24,11.4,2007,5,19
37,2,2007-05-19,80,56,68,M,37,53,0,3,...,M,0.00,29.41,30.08,11.1,23,11.4,2007,5,19
40,1,2007-05-21,80,44,62,1,50,56,3,0,...,0.0,0.00,29.33,30.06,6.3,11,8.2,2007,5,21
41,2,2007-05-21,79,46,63,M,50,57,2,0,...,M,0.00,29.39,30.05,6.3,10,7.8,2007,5,21
42,1,2007-05-22,87,55,71,10,46,58,0,6,...,0.0,0.00,29.34,30.06,10.0,18,10.2,2007,5,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2876,1,2014-09-28,78,53,66,7,55,59,0,1,...,0.0,0.00,29.38,30.12,2.3,6,3.2,2014,9,28
2877,2,2014-09-28,79,58,69,M,57,62,0,4,...,M,0.00,29.44,30.10,2.6,8,3.3,2014,9,28
2882,1,2014-10-01,70,49,60,2,50,55,5,0,...,0.0,0.00,29.22,29.95,10.3,13,10.4,2014,10,1
2895,2,2014-10-07,69,49,59,M,45,51,6,0,...,M,0.00,29.06,29.70,10.3,24,11.7,2014,10,7
2896,1,2014-10-08,65,44,55,-1,35,46,10,0,...,0.0,0.00,29.27,29.97,11.0,27,11.3,2014,10,8
2897,2,2014-10-08,67,48,58,M,36,48,7,0,...,M,0.00,29.34,29.97,10.7,27,11.2,2014,10,8
2898,1,2014-10-09,62,43,53,-2,34,44,12,0,...,0.0,0.00,29.38,30.09,3.4,36,5.8,2014,10,9
2899,2,2014-10-09,64,50,57,M,36,46,8,0,...,M,0.00,29.44,30.09,3.4,2,6.3,2014,10,9
2900,1,2014-10-10,58,39,49,-6,39,44,16,0,...,0.0,0.00,29.43,30.16,7.7,2,8.2,2014,10,10
2901,2,2014-10-10,59,44,52,M,40,46,13,0,...,M,0.00,29.49,30.16,3.8,2,5.2,2014,10,10
2902,1,2014-10-11,59,36,48,-6,34,42,17,0,...,0.0,0.00,29.47,30.20,2.8,8,4.5,2014,10,11
2903,2,2014-10-11,60,40,50,M,36,44,15,0,...,M,0.00,29.53,30.20,3.5,8,4.7,2014,10,11
2918,1,2014-10-19,54,33,44,-7,38,43,21,0,...,0.0,0.00,29.31,30.07,7.8,21,8.2,2014,10,19
2919,2,2014-10-19,57,36,47,M,40,44,18,0,...,M,0.00,29.39,30.09,8.8,21,9.0,2014,10,19
2921,2,2014-10-20,66,50,58,M,46,51,7,0,...,M,0.00,29.23,29.90,4.9,32,9.1,2014,10,20
2922,1,2014-10-21,53,45,49,-1,39,44,16,0,...,0.0,0.00,29.46,30.16,10.8,1,11.4,2014,10,21
2923,2,2014-10-21,54,49,52,M,41,46,13,0,...,M,0.00,29.51,30.15,11.0,36,11.6,2014,10,21
2924,1,2014-10-22,56,35,46,-4,38,43,19,0,...,0.0,0.00,29.56,30.30,2.9,8,4.8,2014,10,22
2925,2,2014-10-22,56,43,50,M,38,44,15,0,...,M,0.00,29.62,30.30,3.0,11,5.1,2014,10,22
2926,1,2014-10-23,59,36,48,-1,40,45,17,0,...,0.0,0.00,29.39,30.15,7.5,19,7.8,2014,10,23
2928,1,2014-10-24,67,52,60,11,46,52,5,0,...,0.0,0.00,29.25,30.00,4.4,22,5.8,2014,10,24
2929,2,2014-10-24,68,54,61,M,48,53,4,0,...,M,0.00,29.31,30.00,4.9,22,5.8,2014,10,24
2930,1,2014-10-25,72,49,61,13,40,51,4,0,...,0.0,0.00,29.21,29.93,10.4,29,10.9,2014,10,25
2931,2,2014-10-25,75,52,64,M,41,52,1,0,...,M,0.00,29.27,29.92,9.7,28,10.4,2014,10,25
2932,1,2014-10-26,64,42,53,5,32,44,12,0,...,0.0,0.00,29.21,29.95,0.9,5,5.8,2014,10,26
2933,2,2014-10-26,66,44,55,M,33,45,10,0,...,M,0.00,29.28,29.95,1.6,11,5.4,2014,10,26
2934,1,2014-10-27,77,51,64,16,51,58,1,0,...,0.0,0.00,28.92,29.66,12.0,19,12.9,2014,10,27
2938,1,2014-10-29,49,36,43,-4,32,40,22,0,...,0.0,0.00,29.36,30.06,9.5,29,9.9,2014,10,29
2939,2,2014-10-29,49,40,45,M,34,42,20,0,...,M,0.00,29.42,30.07,8.5,29,9.0,2014,10,29
2940,1,2014-10-30,51,32,42,-4,34,40,23,0,...,0.0,0.00,29.34,30.09,5.1,24,5.5,2014,10,30

In [10]:
# only select `object` columns
train_cats = train.select_dtypes(include=['object']).columns
weather_cats = weather.select_dtypes(include=['object']).columns
spray_cats = spray.select_dtypes(include=['object']).columns

print(train_cats,'\n')
print(weather_cats,'\n')
print(spray_cats,'\n')

Index(['Date', 'Address', 'Species', 'Street', 'Trap',
       'AddressNumberAndStreet'],
      dtype='object')

Index(['Date', 'Tavg', 'Depart', 'WetBulb', 'Heat', 'Cool', 'Sunrise',
       'Sunset', 'CodeSum', 'Depth', 'Water1', 'SnowFall', 'PrecipTotal',
       'StnPressure', 'SeaLevel', 'AvgSpeed'],
      dtype='object')

Index(['Date', 'Time'], dtype='object')

In [25]:
train['Trap'].value_counts()

T900     750
T115     542
T138     314
T002     185
T135     183
T054     163
T128     160
T151     156
T212     152
T090     151
T114     148
T158     147
T031     146
T048     146
T903     140
T008     139
T011     133
T209     130
T200     129
T073     128
T030     126
T003     122
T094     121
T028     117
T066     116
T074     115
T047     114
T102     112
T221     112
T159     111
        ...
T141      22
T206      21
T154      21
T162      21
T219      21
T156      21
T075      20
T070      20
T071      19
T142      18
T097      17
T034      17
T050      17
T060      15
T001      15
T051      15
T044      15
T157      14
T005      14
T149      14
T072      13
T004      12
T054C      9
T078       8
T229       8
T238       7
T076       5
T094B      5
T237       3
T040       2
Name: Trap, Length: 136, dtype: int64

In [29]:
train.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

In [ ]:
weather.describe

In [55]:
weather.head(5).T

                      0           1           2           3           4
Station               1           2           1           2           1
Date         2007-05-01  2007-05-01  2007-05-02  2007-05-02  2007-05-03
Tmax                 83          84          59          60          66
Tmin                 50          52          42          43          46
Tavg                 67          68          51          52          56
Depart               14           M          -3           M           2
DewPoint             51          51          42          42          40
WetBulb              56          57          47          47          48
Heat                  0           0          14          13           9
Cool                  2           3           0           0           0
Sunrise            0448           -        0447           -        0446
Sunset             1849           -        1850           -        1851
CodeSum                                      BR       BR HZ
Depth                 0           M           0           M           0
Water1                M           M           M           M           M
SnowFall            0.0           M         0.0           M         0.0
PrecipTotal        0.00        0.00        0.00        0.00        0.00
StnPressure       29.10       29.18       29.38       29.44       29.39
SeaLevel          29.82       29.82       30.09       30.08       30.12
ResultSpeed         1.7         2.7          13        13.3        11.7
ResultDir            27          25           4           2           7
AvgSpeed            9.2         9.6        13.4        13.4        11.9

In [56]:
spray.head().T

                    0           1           2           3           4
Date       2011-08-29  2011-08-29  2011-08-29  2011-08-29  2011-08-29
Time       6:56:58 PM  6:57:08 PM  6:57:18 PM  6:57:28 PM  6:57:38 PM
Latitude      42.3916     42.3913      42.391     42.3906     42.3904
Longitude    -88.0892    -88.0892    -88.0892    -88.0892    -88.0889

In [57]:
train.head().T

,0,1,2,3,4
Date,2007-05-29,2007-05-29,2007-05-29,2007-05-29,2007-05-29
Address,"4100 North Oak Park Avenue, Chicago, IL 60634,...","4100 North Oak Park Avenue, Chicago, IL 60634,...","6200 North Mandell Avenue, Chicago, IL 60646, USA","7900 West Foster Avenue, Chicago, IL 60656, USA","7900 West Foster Avenue, Chicago, IL 60656, USA"
Species,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX RESTUANS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS
Block,41,41,62,79,79
Street,N OAK PARK AVE,N OAK PARK AVE,N MANDELL AVE,W FOSTER AVE,W FOSTER AVE
Trap,T002,T002,T007,T015,T015
AddressNumberAndStreet,"4100 N OAK PARK AVE, Chicago, IL","4100 N OAK PARK AVE, Chicago, IL","6200 N MANDELL AVE, Chicago, IL","7900 W FOSTER AVE, Chicago, IL","7900 W FOSTER AVE, Chicago, IL"
Latitude,41.9547,41.9547,41.995,41.9741,41.9741
Longitude,-87.801,-87.801,-87.7693,-87.8248,-87.8248
AddressAccuracy,9,9,9,8,8
NumMosquitos,1,1,1,1,4
WnvPresent,0,0,0,0,0

In [31]:
spray.head(1)

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163

In [53]:
weather.groupby('Station')['Tmax'].mean()

Station
1    75.978940
2    76.353261
Name: Tmax, dtype: float64

In [47]:
weather.head().T

                      0           1           2           3           4
Station               1           2           1           2           1
Date         2007-05-01  2007-05-01  2007-05-02  2007-05-02  2007-05-03
Tmax                 83          84          59          60          66
Tmin                 50          52          42          43          46
Tavg                 67          68          51          52          56
Depart               14           M          -3           M           2
DewPoint             51          51          42          42          40
WetBulb              56          57          47          47          48
Heat                  0           0          14          13           9
Cool                  2           3           0           0           0
Sunrise            0448           -        0447           -        0446
Sunset             1849           -        1850           -        1851
CodeSum                                      BR       BR HZ
Depth                 0           M           0           M           0
Water1                M           M           M           M           M
SnowFall            0.0           M         0.0           M         0.0
PrecipTotal        0.00        0.00        0.00        0.00        0.00
StnPressure       29.10       29.18       29.38       29.44       29.39
SeaLevel          29.82       29.82       30.09       30.08       30.12
ResultSpeed         1.7         2.7          13        13.3        11.7
ResultDir            27          25           4           2           7
AvgSpeed            9.2         9.6        13.4        13.4        11.9

In [46]:
weather[['Sunrise']].info

<bound method DataFrame.info of      Sunrise
0       0448
1          -
2       0447
3          -
4       0446
5          -
6       0444
7          -
8       0443
9          -
10      0442
11         -
12      0441
13         -
14      0439
15         -
16      0438
17         -
18      0437
19         -
20      0436
21         -
22      0435
23         -
24      0434
25         -
26      0433
27         -
28      0432
29         -
...      ...
2914    0606
2915       -
2916    0607
2917       -
2918    0608
2919       -
2920    0610
2921       -
2922    0611
2923       -
2924    0612
2925       -
2926    0613
2927       -
2928    0614
2929       -
2930    0616
2931       -
2932    0617
2933       -
2934    0618
2935       -
2936    0619
2937       -
2938    0620
2939       -
2940    0622
2941       -
2942    0623
2943       -

[2944 rows x 1 columns]>

In [37]:
weather[['Sunset']]

     Sunset
0      1849
1         -
2      1850
3         -
4      1851
5         -
6      1852
7         -
8      1853
9         -
10     1855
11        -
12     1856
13        -
14     1857
15        -
16     1858
17        -
18     1859
19        -
20     1860
21        -
22     1901
23        -
24     1902
25        -
26     1903
27        -
28     1904
29        -
...     ...
2914   1707
2915      -
2916   1706
2917      -
2918   1704
2919      -
2920   1703
2921      -
2922   1701
2923      -
2924   1660
2925      -
2926   1658
2927      -
2928   1657
2929      -
2930   1656
2931      -
2932   1654
2933      -
2934   1653
2935      -
2936   1651
2937      -
2938   1650
2939      -
2940   1649
2941      -
2942   1647
2943      -

[2944 rows x 1 columns]

In [38]:
train.isnull().sum()

Date                      0
Address                   0
Species                   0
Block                     0
Street                    0
Trap                      0
AddressNumberAndStreet    0
Latitude                  0
Longitude                 0
AddressAccuracy           0
NumMosquitos              0
WnvPresent                0
dtype: int64

In [39]:
weather.isnull().sum()

Station        0
Date           0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
CodeSum        0
Depth          0
Water1         0
SnowFall       0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
dtype: int64

In [40]:
spray.isnull().sum()

Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64