# Importing Data

In [1]:
import pandas as pd
import numpy as np

In [3]:
train= pd.read_csv('train.csv')
weather= pd.read_csv('weather.csv')
spray=pd.read_csv('spray.csv')

In [22]:
print('Weather')
print(weather.columns)
print('--')
print('Spray')
print(spray.columns)
print('--')
print('Train')
print(train.columns)

Weather
Index(['Station', 'Date', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint',
       'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum', 'Depth',
       'Water1', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel',
       'ResultSpeed', 'ResultDir', 'AvgSpeed'],
      dtype='object')
--
Spray
Index(['Date', 'Time', 'Latitude', 'Longitude'], dtype='object')
--
Train
Index(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'NumMosquitos', 'WnvPresent'],
      dtype='object')

In [6]:
weather.head(3)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4

In [23]:
spray.head(1)

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163

In [25]:
train.head(2)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

In [40]:
#changing date to month, day, year 
from datetime import datetime
train['Date'] = train["Date"].apply(lambda x: \
    datetime.strptime(x,'%Y-%m-%d'))

In [ ]:
# Check for number of rows and columns

In [10]:
print('Weather')
print(weather.shape)
print('-')
print('Spray')
print(spray.shape)
print('-')
print('Train')
print(train.shape)

Weather
(2944, 22)
-
Spray
(14835, 4)
-
Train
(10506, 12)

In [11]:
# Check for kind of data

In [13]:
print('Weather Type')
print(weather.dtypes)
print('-')
print('Spray Type')
print(spray.dtypes)
print('-')
print('Train Type')
print(train.dtypes)

Weather Type
Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object
-
Spray Type
Date          object
Time          object
Latitude     float64
Longitude    float64
dtype: object
-
Train Type
Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos                int64
WnvPresent                  int64
dtype: object

In [16]:
#checking for nulls

print('Weather Nulls')
print(weather.isnull().values.any())
print('-')
print('Spray Nulls')
print(spray.isnull().values.any())
print('-')
print('Train Nulls')
print(train.isnull().values.any())

Weather Nulls
False
-
Spray Nulls
True
-
Train Nulls
False

In [43]:
print('Weather')
print(weather.describe())
print('-')
print('Spray')
print(spray.describe())
print('-')
print('Train')
print(train.describe())

Weather
           Station         Tmax         Tmin     DewPoint  ResultSpeed  \
count  2944.000000  2944.000000  2944.000000  2944.000000  2944.000000
mean      1.500000    76.166101    57.810462    53.457880     6.960666
std       0.500085    11.461970    10.381939    10.675181     3.587527
min       1.000000    41.000000    29.000000    22.000000     0.100000
25%       1.000000    69.000000    50.000000    46.000000     4.300000
50%       1.500000    78.000000    59.000000    54.000000     6.400000
75%       2.000000    85.000000    66.000000    62.000000     9.200000
max       2.000000   104.000000    83.000000    75.000000    24.100000

         ResultDir
count  2944.000000
mean     17.494905
std      10.063609
min       1.000000
25%       7.000000
50%      19.000000
75%      25.000000
max      36.000000
-
Spray
           Latitude     Longitude
count  14835.000000  14835.000000
mean      41.904828    -87.736690
std        0.104381      0.067292
min       41.713925    -88.096468
25%       41.785001    -87.794225
50%       41.940075    -87.727853
75%       41.980978    -87.694108
max       42.395983    -87.586727
-
Train
              Block      Latitude     Longitude  AddressAccuracy  \
count  10506.000000  10506.000000  10506.000000     10506.000000
mean      35.687797     41.841139    -87.699908         7.819532
std       24.339468      0.112742      0.096514         1.452921
min       10.000000     41.644612    -87.930995         3.000000
25%       12.000000     41.732984    -87.760070         8.000000
50%       33.000000     41.846283    -87.694991         8.000000
75%       52.000000     41.954690    -87.627796         9.000000
max       98.000000     42.017430    -87.531635         9.000000

       NumMosquitos    WnvPresent
count  10506.000000  10506.000000
mean      12.853512      0.052446
std       16.133816      0.222936
min        1.000000      0.000000
25%        2.000000      0.000000
50%        5.000000      0.000000
75%       17.000000      0.000000
max       50.000000      1.000000

In [19]:
spray.isnull().sum()

Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64

In [13]:
weather[['WetBulb']].head(1)

  WetBulb
0      56

In [60]:
weather[['Sunset']].head(3)

  Sunset
0   1849
1      -
2   1850

In [58]:
sum(weather['Sunset'].str.contains('-'))

1472

In [14]:
weather.head(3)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4

In [15]:
spray= pd.read_csv('spray.csv')

In [16]:
spray.columns

Index(['Date', 'Time', 'Latitude', 'Longitude'], dtype='object')

In [20]:
spray.duplicated().sum()

541

In [23]:
spray.shape

(14835, 4)

In [24]:
weather.shape

(2944, 22)

In [26]:
spray.describe()

           Latitude     Longitude
count  14835.000000  14835.000000
mean      41.904828    -87.736690
std        0.104381      0.067292
min       41.713925    -88.096468
25%       41.785001    -87.794225
50%       41.940075    -87.727853
75%       41.980978    -87.694108
max       42.395983    -87.586727

In [27]:
weather.describe()

,Station,Tmax,Tmin,DewPoint,ResultSpeed,ResultDir
count,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000
mean,1.500000,76.166101,57.810462,53.457880,6.960666,17.494905
std,0.500085,11.461970,10.381939,10.675181,3.587527,10.063609
min,1.000000,41.000000,29.000000,22.000000,0.100000,1.000000
25%,1.000000,69.000000,50.000000,46.000000,4.300000,7.000000
50%,1.500000,78.000000,59.000000,54.000000,6.400000,19.000000
75%,2.000000,85.000000,66.000000,62.000000,9.200000,25.000000
max,2.000000,104.000000,83.000000,75.000000,24.100000,36.000000

In [50]:
train.columns

Index(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'NumMosquitos', 'WnvPresent'],
      dtype='object')

In [ ]:
#We are given where the mosquitos were trapped

In [58]:
train['Trap'] = train['Trap'].map(lambda x: x.lstrip('T'))

In [62]:
train.groupby('Trap')['NumMosquitos'].count()

# How many mosquitos were in each trap

Trap
001     15
002    185
003    122
004     12
005     14
006     24
007     23
008    139
009    111
011    133
012    105
013    104
014     30
015     35
016     66
017     78
018     63
019     23
025     27
027     93
028    117
030    126
031    146
033     97
034     17
035     72
036     24
037     29
039     80
040      2
      ...
160     91
161     26
162     21
200    129
206     21
209    130
212    152
215     45
218     74
219     21
220     98
221    112
222     60
223     87
224     54
225    103
226     77
227     78
228     62
229      8
230     65
231     42
232     50
233     50
235     62
236     33
237      3
238      7
900    750
903    140
Name: NumMosquitos, Length: 136, dtype: int64